﻿body {

}

pre {
    white-space: pre-wrap;
}

textarea {
    width: 100%;
    height: 6vh;
    border: none;
    outline: none !important;
    resize: none;
}

.list-area {
    border: 1px solid lightblue;
    padding: 10px;
    margin-top: 10px;
    height:60vh;
    overflow:auto;
    border-radius:5px;
}

.type-area {
    border: 1px solid lightblue;
    padding: 5px;
    margin-top: 10px;
    min-height:120px;
    border-radius: 5px;
}

.type-area button {
    margin-top: 20%;
}

.star{
    font-size:24px;
    color:lightgray;
}
.selected{
    font-size:26px;
}
.rate1{
    color:red;
}
.rate2 {
    color: orange;
}
.rate3 {
    color: yellow;
}
.rate4 {
    color: greenyellow;
}
.rate5 {
    color: green;
}

.star > .glyphicon-star{
    cursor:pointer;
}

.hand {
    font-size: 28px;
    color: blue;
}

.text-rate{
    font-size:12px;
    color:blue;
}

.username{
    font-size:14px;
    font-weight:bold;
    color:black;
}

.datetime{
    font-size:12px;
    color:dimgrey;
}


.pending{
    color:lightgray;
}

.pagination {
    margin: 5px !important;
}

.pagination > li{
    cursor:pointer !important;
}