﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="Content/custom/site.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    
</head>
<body ng-app="app">
    <div class="container" ng-controller="reviewController as vm" ng-cloak>
        <form name="frmReview" class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Reviews</h2>
                </div>
                <div class="col-sm-12">
                    <div class="form-inline">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label  class="col-form-label">Select a user:</label>
                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="user" required>
                                    <option value="Carlos Sanches" selected>Carlos Sanches</option>
                                    <option value="John Smith">John Smith</option>
                                    <option value="Laura Carter">Laura Carter</option>
                                    <option value="Mike Porter">Mike Porter</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="col-form-label">Sort by:</label>
                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="order" ng-change="listReviews('.list-area')">
                                    <option value="1" selected>Date</option>
                                    <option value="2">User</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right star">
                                <span>Overall rating:&nbsp;</span>
                                <span class="glyphicon glyphicon-star rate1" ng-show="averageScore >=1"></span>
                                <span class="glyphicon glyphicon-star rate2" ng-show="averageScore >=2"></span>
                                <span class="glyphicon glyphicon-star rate3" ng-show="averageScore >=3"></span>
                                <span class="glyphicon glyphicon-star rate4" ng-show="averageScore >=4"></span>
                                <span class="glyphicon glyphicon-star rate5" ng-show="averageScore >=5"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="list-area">
                        <div class="col-sm-12" ng-repeat="item in vm.items">
                            <div>
                                <span class="username">{{item.name}}</span>&nbsp;<span class="datetime">{{item.creation_date | date : "MM/dd/yyyy HH:mm:ss"}}</span>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-star rate1" ng-show="item.score >=1"></span>
                                <span class="glyphicon glyphicon-star rate2" ng-show="item.score >=2"></span>
                                <span class="glyphicon glyphicon-star rate3" ng-show="item.score >=3"></span>
                                <span class="glyphicon glyphicon-star rate4" ng-show="item.score >=4"></span>
                                <span class="glyphicon glyphicon-star rate5" ng-show="item.score >=5"></span>
                            </div>
                            <div><pre ng-class="{pending: item.pending}">{{item.msg}}</pre></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="pagination">
                        <ul class="pagination" ng-if="vm.pager.pages.length">
                            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                <a ng-click="vm.setPage(1)">|<</a>
                            </li>
                            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                                <a ng-click="vm.setPage(vm.pager.currentPage - 1)"><<</a>
                            </li>
                            <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                                <a ng-click="vm.setPage(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                <a ng-click="vm.setPage(vm.pager.currentPage + 1)">>></a>
                            </li>
                            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                                <a ng-click="vm.setPage(vm.pager.totalPages)">>|</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="type-area">
                        <div class="col-sm-10">
                            <textarea placeholder="type your message here!" ng-model="msg" required></textarea>
                            <div class="col-sm-12">
                                <span class="text-rate">Roll over the stars and then click to rate.</span>
                            </div>
                            <div class="col-sm-12 star">
                                <span class="glyphicon glyphicon-thumbs-up hand"></span>
                                <span class="glyphicon glyphicon-star" ng-class="{rate1:rate[0]}" ng-mouseover="checkStars(1)"
                                      ng-mouseleave="unchekStars()" ng-click="selectStar(1)">
                                </span>
                                <span class="glyphicon glyphicon-star" ng-class="{rate2:rate[1]}" ng-mouseover="checkStars(2)"
                                      ng-mouseleave="unchekStars()" ng-click="selectStar(2)">
                                </span>
                                <span class="glyphicon glyphicon-star" ng-class="{rate3:rate[2]}" ng-mouseover="checkStars(3)"
                                      ng-mouseleave="unchekStars()" ng-click="selectStar(3)">
                                </span>
                                <span class="glyphicon glyphicon-star" ng-class="{rate4:rate[3]}" ng-mouseover="checkStars(4)"
                                      ng-mouseleave="unchekStars()" ng-click="selectStar(4)">
                                </span>
                                <span class="glyphicon glyphicon-star" ng-class="{rate5:rate[4]}" ng-mouseover="checkStars(5)"
                                      ng-mouseleave="unchekStars()" ng-click="selectStar(5)">
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default pull-right" ng-disabled="frmReview.$invalid || selectedRate == 0"
                                    ng-click="saveReview()">
                                Send
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    
    <script src="Scripts/jquery-1.12.4.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/Custom/main.js"></script>
</body>
</html>